* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
.main {
  overflow-y: hidden;
  overflow-x: hidden;
}

.logo {
  position: absolute;
  margin: 5%;
  padding: 1%;
  text-align: center;
  background-color: lightgray;
  border-radius: 5px;
}
.logo div {
  border: solid black 10px;

  width: 100px;
  height: 100px;
  padding: 1px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.logo h1 {
  font-size: 56px;
  font-weight: 700;
  color: black;
}
.logo h2 {
  color: black;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.specs-flex {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.specs-flex-image {
  width: 50vw;
  height: auto;
  display: block;
}
.specs-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 5%;
}
.specs-text p {
  margin: auto;
  width: 80%;
}
.specs {
  margin: auto;
  margin-top: 5%;
  width: 40%;
  min-width: fit-content;
  height: 10vh;
  display: flex;
  border: solid 4px lightgray;
  justify-content: space-evenly;
  border-radius: 5px;
  align-items: center; /* Center vertically */
}

.specs div {
  background-color: darkgray;
  height: 90%;
  width: 5px;
  transform: rotate(18deg);
  border-radius: 10px;
}

.specs h2 {
  margin: 2%; /* Remove margin to center the text better */
  font-size: medium;
  text-align: center; /* Center text horizontally */
}
.chamonix {
  margin: 5%;
  width: 100%;
}
.chamonix h1 {
  margin: 5%;
  white-space: nowrap;
}
.chamonix-flex {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  width: 100%;
}

.chamonix-flex video {
  width: 50%;
  height: 45vh;
}

.chamonix-img {
  width: 100%;
  height: 45vh;
}

.portrait {
  display: none;
}
.landscape {
  display: block;
}
@media screen and (max-width: 800px) {
  .portrait {
    display: block;
  }
  .landscape {
    display: none;
  }
  .specs-flex-image {
    display: none;
  }
  .chamonix {
    margin: 2%;
    width: 95%;
  }
  .chamonix-flex {
    display: flex;
    flex-direction: column;
  }

  .chamonix-flex video {
    width: 100%;
    height: 45vh;
    margin: 0%;
  }
  .services {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
}

.process {
  display: flex;
  flex-direction: column;
  margin: auto;

  text-align: center;
}
.process span {
  font-size: xxx-large;
}

.process div {
  padding: 2%;
  font-size: larger;
}
.process p {
  padding: 1%;
  width: 60%;
  margin: auto;
}
.process span {
  padding: 2%;
}
.price {
  margin: auto;
}

.services {
  display: flex;
  width: 80%;
  margin: auto;
}
.services div {
  display: flex;
  flex-direction: row;
  margin: 5%;
}
.services p {
  margin: 5%;
  width: 80%;
  text-align: center;
  min-width: 45%;
}

.services img {
  width: 20vw;
  height: 30vh;
}

.gallery {
  width: 90%;
  margin: 5%;
}
